
<section class="list">
  <v-data-table
    :headers="headers"
    :items="employees"
    item-key="id"
    :pagination.sync="pagination"
    :rows-per-page-items="pagination.rowsPerPageItems"
    :total-items="pagination.totalItems"
  >
    <template v-slot:headers="props">
      <tr>
        <th 
          v-for="header in props.headers"
        >
          <v-layout row>
            <v-icon small v-if="header.sort">arrow_upward</v-icon>
            <v-text-field :label="header.label" v-if="header.filter"></v-text-field>
            <v-icon small v-if="header.filter">filter_list</v-icon>
            <span v-else>{{header.label}}</span>
          </v-layout>
        </th>
      </tr>
    </template>
    <template v-slot:items="props">
      <td class="img_td">
        <v-img :src="props.item.profile_pic"></v-img>
      </td>
      <td>
        {{props.item.first_name}}
      </td>
      <td>
          {{props.item.last_name}}
      </td>
    </template>
  </v-data-table>
</section>

